<div class="sky ftr padt20 padr20 font18 txt-ul">
  <%= link_to 'Home', root_path %>
</div>
<div class="clr"></div>
<%= render 'home/home_poll' %>

<div class="w100 bgwhite round shadow mart20">
  <div class="pad20 padl40 padr40 graydark">
    <div class="font15"><h1 class="">CricBattle OVERVIEW</h1></div>
    <div class="font15">
      <p>CricBattle offer Fantasy Cricket games on their easy to use and simple game interface. Users can login to the site&nbsp;using Facebook or Google and then enter free play fun contests in just one click. &nbsp;Registered users also have the option to play in social real money skill leagues for the chance to win big against fellow cricket fanatics!</span></p>
      <p><span style="font-weight: 400;">You can check out all the rules and points system for CricBattle Fantasy Cricket with our special India <a href="http://www.indiafantasycricket.com/cricbattle-fantasy-cricket-rules/">Fantasy Cricket rules guide here.</a></span></p>
      <p><b>Website:</b><span style="font-weight: 400;"> www.CricBattle.com.</span></p>
      <p><b>Welcome Bonus: &nbsp;</b>The site does not currently offer a Welcome Bonus however we will notify all subscribers should a Welcome Bonus be introduced.</p>
      <p><b>Deposit Methods offered:</b></p>
      <ul>
      <li><span style="font-weight: 400;">PayUMoney.</span></li>
      <li><span style="font-weight: 400;">Visa, Mastercard and American Express debit and credit cards.</span></li>
      <li><span style="font-weight: 400;">PayTM.</span></li>
      <li><span style="font-weight: 400;">Coupon Code.</span></li>
      </ul>
      <p><b>Is it Legal:</b></p>
      <p><span style="font-weight: 400;">CricBattle have dedicated a whole section on their website to explain why as a skill game, fantasy contests are legal for residents of India&nbsp;to participate in. You can read further details by clicking here. &nbsp;Please note however that as the laws in the states of Assam and Odisha are not clear as to whether skill games can be played for a fee, at the current time </span><span style="font-weight: 400;">residents of Assam and Odisha are not permitted to participate in the paid formats of Fantasy Cricket, Kabaddi or Football Games. Residents of Assam and Odisha may, however, participate in the ‘free-to-play’ version of the game.</span></p>
      <p><b>Refer a Friend Offer:</b><span style="font-weight: 400;"> &nbsp;Earn Cash 5% &amp; C$10 Referral Bonus for 12 months.</span></p>
      <p><span style="font-weight: 400;">CricBattle will give users a personal link that they can then share with friends via Email, Text, Whatsapp, Facebook, Twitter, or Google+ &nbsp;You can read the full terms of their&nbsp;refer a friend bonus <a href="http://www.cricbattle.com/">by clicking here.</a></span></p>
      <p><b>Sports that CricBattle host Fantasy games&nbsp;for:</b></p>
      <ul>
      <li><span style="font-weight: 400;">Cricket.</span></li>
      <li><span style="font-weight: 400;">Kabaddi.</span></li>
      <li>Football.</li>
      </ul>
      <p><b>Mobile: &nbsp;</b><span style="font-weight: 400;">CricBattle have a native iOS or Android app that can easily be downloaded from the Apple store or the Android store.</span></p>
    </div>
  </div>
</div>