<div class="sky ftr padt20 padr20 font18 txt-ul">
  <%= link_to 'Home', root_path %>
</div>
<div class="clr"></div>
<%= render 'home/home_poll' %>

<div class="w100 bgwhite round shadow mart20">
  <div class="pad20 padl40 padr40 graydark">
    <div class="font15"><h1 class="">Cricketinc OVERVIEW</h1></div>
    <div class="font15">
      <p>Cricketinc is one of the longest established providers of Fantasy Cricket games to Indian players. &nbsp;Cricketinc launched over a decade ago with the aim of introducing their Fantasy Cricket Matches</span><span style="font-weight: 400;">™ to the world. &nbsp;&nbsp;Cricketinc.com is owned and managed by: INTELLE-GAMES PVT. LTD.</span></p>
      <p><span style="font-weight: 400;">Cricketinc offer two different types of Fantasy Cricket games for Indian citizens to participate in – Classic games and Pro games. &nbsp;Both games require a high level of Cricket knowledge, skill, and judgement to beat other Cricket-inc players. &nbsp;Pro and Classic games can be played for fun or for real money on their website.</span></p>
      <p><span style="font-weight: 400;">You can check out all the rules and points system for their&nbsp;Fantasy Cricket with our <a href="http://www.indiafantasycricket.com/6023-2/">special rules guide here. </a></span></p>
      <p><b>Website:</b><span style="font-weight: 400;"> www.Cricketinc.com</span></p>
      <p><b>Welcome Bonus Offer:</b><span style="font-weight: 400;">&nbsp;At the current time Cricket inc.com do not have a welcome bonus offer.</span></p>
      <p><b>Deposit Methods offered: </b><span style="font-weight: 400;">PayUMoney – Visa, Mastercard and American Express debit and credit cards.</span></p>
      <p><b>Is it Legal:&nbsp;</b><span style="font-weight: 400;">Cricketinc do not have any specific section providing guidance on where the game is legal.</span></p>
      <p><b>Refer a Friend Offer:</b><span style="font-weight: 400;"> &nbsp;At the current time Cricketinc.com do not have a refer a friend offer.<br>
      </span><b><br>
      </b><b>Sports that Cricket inc host Fantasy games&nbsp;for:</b></p>
      <ul>
      <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cricket</span></li>
      </ul>
      <p><b>Mobile: &nbsp;</b><span style="font-weight: 400;">Cricket-inc do not currently have a native iOS &nbsp;or Android app that can be downloaded. &nbsp;Their responsive website can however be accessed via all mobile devices so it is easy to play game whenever you want and wherever you are!</span></p>
      <p><strong>Customer Support:</strong> &nbsp;Cricket inc currently offer customer support via a contact form that can accessed via their website by <a href="http://at&nbsp;https://www.cricketinc.com/contact_us.aspx">clicking here.</a></p>
      <p>Cricket-inc has a very clean website and game lobby that is easy to understand and navigate. &nbsp;Unlike many competitor sites, Cricket-inc do not try and overload visitors with too many options and too much information and is very good site for new players to start playing Fantasy Cricket at.</p>
    </div>
  </div>
</div>