<div class="sky ftr padt20 padr20 font18 txt-ul">
  <%= link_to 'Home', root_path %>
</div>
<div class="clr"></div>
<%= render 'home/home_poll' %>

<div class="w100 bgwhite round shadow mart20">
  <div class="pad20 padl40 padr40 graydark">
    <div class="font15"><h1 class="">Daily Fantasy Cricket OVERVIEW</h1></div>
    <div class="font15">
      <p>Daily Fantasy Cricket.com is a Fantasy Sports site dedicated to Cricket only, and open to Cricket fans across the world. &nbsp;Established in 2013, Daily Fantasy Cricket (DFC) claim to be the first play for ‘real money’ fantasy cricket website in the world. Daily Fantasy Cricket offer the opportunity for fantasy cricket fans all over the world to play each other, head to head, and win cash and prizes every day – eliminating any season-long commitment.</span></p>
      <p><span style="font-weight: 400;">As the game is played globally, the leagues and competitions on DFC&nbsp;have $US prizepools but that should not be a problem for Indian users who can still deposit in R.s. and they will have their deposited converted to USD at the market rate. &nbsp;</span></p>
      <p><b>Website:</b><span style="font-weight: 400;"> www.dailyfantasycricket.com</span></p>
      <p><b>Welcome Bonus Offer:</b><span style="font-weight: 400;"> Daily Fantasy Cricket do not currently offer a welcome bonus for new players.</span></p>
      <p><b>Deposit Methods offered:</b></p>
      <ul>
      <li><span style="font-weight: 400;">Paypal</span></li>
      </ul>
      <p><b>Is it Legal: &nbsp;</b>Daily Fantasy Cricket.com do not&nbsp;have any specific pages giving guidance on the legality of Fantasy Cricket in India. You can find out more about whether <a href="http://www.indiafantasycricket.com/fantasy-cricket-legal/">Fantasy Cricket is legal here.</a></p>
      <p><b>Refer a Friend Offer:</b><span style="font-weight: 400;"> &nbsp;Daily Fantasy Cricket will reward any any user for referring their friends whether the friend plays in a ‘free league’ game, or a ‘real money’ game, as long as your friend verifies their account.</span></p>
      <p><span style="font-weight: 400;">If you refer a friend and they verify their account and play in a free league game then you will earn $0.25.</span></p>
      <p><span style="font-weight: 400;">If you refer a friend and they verify their account and play in ‘Paid games’ for real money, then you can earn up to $15 in referral fees per customer.</span></p>
      <p><span style="font-weight: 400;">A great feature of Daily Fantasy Cricket’s refer a friend program is they provide you all the tools to recommend friends, by giving you a link you can share via Facebook, Twitter, Google+ or Email. &nbsp;You can also copy the link and send it via Whatsapp or Text message. &nbsp;If you have your own website then DFC also supply banners for you to host that will track any click throughs ensuring you can send friends to DFC and get rewarded. &nbsp;You can also then track all your referrals as they sign up &nbsp;and watch the money come in. &nbsp;</span></p>
      <p><span style="font-weight: 400;">You can check out full terms and conditions for Daily Fantasy Cricket.com’s <a href="https://www.dailyfantasycricket.com/how-to-play">refer a friend scheme by clicking here.</a></span></p>
      <p><b>Sports that Daily Fantasy Cricket host Fantasy contests for:</b></p>
      <ul>
      <li><span style="font-weight: 400;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cricket</span></li>
      </ul>
      <p><b>Daily Fantasy Cricket Mobile:</b><span style="font-weight: 400;">&nbsp; Although Daily Fantasy Cricket do not currently have a native iOS or Android app that can be downloaded, they do have a mobile responsive website that can be utilised on all mobile devices.</span></p>
    </div>
  </div>
</div>