<div class="sky ftr padt20 padr20 font18 txt-ul">
  <%= link_to 'Home', root_path %>
</div>
<div class="clr"></div>
<%= render 'home/home_poll' %>

<div class="w100 bgwhite round shadow mart20">
  <div class="pad20 padl40 padr40 graydark">
    <div class="font15"><h1 class="">Fandromeda OVERVIEW</h1></div>
    <div class="font15">
      <p>Fandromeda are a new and exciting Fantasy Sports site that launched in March 2016 offering Fantasy Cricket, Fantasy Football, and Fantasy Kabaddi games to Indian citizens. &nbsp;Users can play in competitions for real money or for fun, &nbsp;It is important to remember that Fandromeda competitions are played against fellow sports fans and Fan dromeda simply provide the software and host the games on behalf of the players.</span></p>
      <p><span style="font-weight: 400;">&nbsp;Users can login using Facebook or their email/username after they have registered. &nbsp;Before depositing, all players have to complete their profile and confirm their name as it appears on their PAN card, date of birth, and state that they reside in. &nbsp;You can read our India Fantasy Cricket guide to Fan dromeda <a href="http://www.indiafantasycricket.com/fandromeda-fantasy-cricket-rules/">rules and scoring here.</a></span></p>
      <p><b>Website:</b><span style="font-weight: 400;"> www.fandromeda.com</span></p>
      <p><b>Welcome Bonus Offer:&nbsp;</b>Fan dromeda do not currently offer a welcome sign up bonus for new customers.</p>
      <p><b>Deposit Methods offered:</b></p>
      <ul>
      <li>PayTM.</li>
      </ul>
      <p><b>Is it Legal:&nbsp;</b><span style="font-weight: 400;">To play real money competitions at the site&nbsp;– you need to be an Indian resident above 18 years of age and not from Assam or Odisha. </span></p>
      <p><b>Refer a Friend Offer: </b>Fandromeda do not currently offer a refer a friend bonus but IndiaFantasyCricket.com will update all subscribers if the site&nbsp;do introduce a new refer a friend bonus or coupon codes.</p>
      <p><b>Sports that Fandromeda host Fantasy games&nbsp;for:</b></p>
      <ul>
      <li><span style="font-weight: 400;">Cricket.</span></li>
      <li><span style="font-weight: 400;">Kabaddi.</span></li>
      <li>Football.</li>
      </ul>
      <p>Fandromeda also hosted real money Fantasy games based on the 2016 Rio Olympics and will host Fantasy games on other future major sporting events.</p>
      <p><b>Mobile: &nbsp;</b><span style="font-weight: 400;">Fandromeda currently have an Android App that can be easily downloaded via their website. &nbsp;The site&nbsp;do not currently have an iOS app however their responsive website can be accessed via all mobile devices so it is easy to play game on any mobile device.</span></p>
      <p><b>Customer Support: &nbsp;</b>Fan dromeda currently only offer customer support via email and can be contacted at<b>&nbsp;</b><a class="underline" href="mailto:support@fandromeda.com?Subject=Query">support@fandromeda.com</a></p>
    </div>
  </div>
</div>