<div class="sky ftr padt20 padr20 font18 txt-ul">
  <%= link_to 'Home', root_path %>
</div>
<div class="clr"></div>
<%= render 'home/home_poll' %>

<div class="w100 bgwhite round shadow mart20">
  <div class="pad20 padl40 padr40 graydark">
    <div class="font15"><h1 class="">FANSPOLE OVERVIEW</h1></div>
    <div class="font15">
      <div class="pad5 padb15">
        Overview: Fanspole Fanspolewas created by two Fantasy Cricket fanatics who have built an online Fantasy Game Platform where users can come and play free and paid fantasy games in an easy, secure and legal way.
      </div>
      <div class="pad5 padb15">
        Fanspole are very open about their background and state that ‘Our goal  is to Provide Fantasy Player’s true value for their passion. We are a small team of young passionate people, working hard to make it the best experience for all Fantasy Players’.
      </div>
      <div class="pad5 padb15">
        Fanspole not only hosts Fantasy Cricket games but also provides a Fantasy Cricket forum for users to discuss strategy, tips, team news, and any other Fantasy Cricket related matters.  Once registered, users can login to the site using Facebook, Google or their Email address and then can enter free play or play for fun contests.
      </div>
      <div class="pad5">
        Website: <a href="https://www.fanspole.com" target="_blank"><span class="sky">www.fanspole.com</span></a>
      </div>
      <div class="pad5 padb15">
        Welcome Bonus Offer: The site does not currently offer a welcome bonus for new players.
      </div>
      <div class="pad5 padt20">
        <b>Deposit Methods offered:</b><br>
        PayUMoney. Visa, Mastercard and American Express debit and credit cards. <br><br>
        PayTM<br><br>
        Is it Legal:  FansPole have a page on their website dedicated to addressing any legal concerns that users may have.  Their website states that:
      </div>
      <div class="pad20">
        <b>
          ‘Fanspole takes great care to comply with central and state legislations in India to protect users from any legal risk. All the fantasy sports games for cricket as available on our website, including the paid formats, are carefully designed to comply with applicable statutes and regulations in India’.
        </b>
      </div>
      <div class="pad5 padb15">
        You can check out full details of the legality of playing at Fanspole.com via their ‘Help’ section which can be accessed by clicking here.
      </div>
      <div class="pad5 padb15">
        Residents of Assam and Odisha may, however, participate in the ‘free-to-play’ version of the FansPole Game.
      </div>
      <div class="pad5 padb15">
        Refer a Friend Offer:  Fanspole do not run a continuous ‘Refer a friend’ program but they do run an exciting ‘Refer a Friend’ promotion at different times of the year with big prizes with the November 2016 promotion awarding a Micromax Canvas Evok (Black, 16 GB) for the top referrer.
      </div>
      <div class="pad5 padb15">
        <b>Sports that the site host Fantasy games for:</b><br>
        Cricket
      </div>
      <div class="pad5 padb15">
        Mobile:  FansPole currently have a native Android App that can be downloaded from their website by clicking here.  Although they do not currently have a native iOS app that can be downloaded, they have a mobile responsive website that can easily be used on all mobile devices.
      </div>
    </div>
  </div>
</div>