<div class="sky ftr padt20 padr20 font18 txt-ul">
  <%= link_to 'Home', root_path %>
</div>
<div class="clr"></div>
<%= render 'home/home_poll' %>

<div class="w100 bgwhite round shadow mart20">
  <div class="pad20 padl40 padr40 graydark">
    <div class="font15"><h1 class="">OyeCaptain OVERVIEW</h1></div>
    <div class="font15">
      <p><span> OyeCaptain offer Fantasy Cricket on their easy to use and simple game interface. Users can login to to the site using Facebook or Google and then enter free play fun contests in just one clicks. &nbsp;Registered users also have the option to play in social real money skill leagues for the chance to win big against fellow cricket fanatics!</span></p>
      <p>You can check out all the rules and points system for Oye Captain Fantasy Cricket with our special India <a href="http://www.indiafantasycricket.com/oyecaptain-fantasy-cricket-rules/">Fantasy Cricket rules guide here.</a></p>
      <p><b>Website:</b><span style="font-weight: 400;"> www.OyeCaptain.com</span></p>
      <p><b>Welcome Bonus Offer: </b>tbc</p>
      <p><b>Deposit Methods offered:&nbsp;</b></p>
      <ul>
      <li><span>PayUMoney.</span></li>
      <li><span>Visa, Mastercard and American Express debit and credit cards.</span></li>
      <li><span>PayTM.</span></li>
      <li><span>Coupon Code.</span></li>
      </ul>
      <p><b>Is it Legal: &nbsp;</b><span>OyeCaptain have dedicated a whole section on their website to explain why as a skill game, Oye Captain fantasy contests are legal for players to participate in. You can read further details by clicking here. &nbsp;Please note however that as the laws in the states of Assam and Odisha are not clear as to whether skill games can be played for a fee, at the current time </span><span>residents of Assam and Odisha are not permitted to participate in the paid formats of the Oye Captain Fantasy Cricket, Kabaddi or Football Games. Residents of Assam and Odisha may, however, participate in the ‘free-to-play’ version of the OyeCaptain Game</span></p>
      <p><b>Refer a Friend Offer:</b><span> &nbsp;Refer a friend to OyeCaptain you will receive a bonus of up to R.s. 250 cash bonus on their first deposit, and then a 5% bonus on every future deposit your friend makes! &nbsp;</span></p>
      <p><span>Oye Captain will give users a personal link that they can then share with friends via Email, Text, Whatsapp, Facebook, Twitter, or Google+.</span></p>
      <p><span>You can read the full terms of Oye Captain’s refer a friend bonus by clicking here.</span></p>
      <p><b>Sports that OyeCaptain host fantasy games for:</b></p>
      <ul>
      <li><span> &nbsp;&nbsp;&nbsp;Cricket</span></li>
      </ul>
      <p><b>Mobile: &nbsp;</b><span>OyeCaptain do not currently &nbsp;have a native iOS &nbsp;or Android app that can be downloaded. &nbsp;Their responsive website can however be accessed via all mobile devices so it is easy to play game whenever you want and wherever you are!</span></p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>